@import "../../styles/styles";
#sidebar {
  width: 300px;
  .box {
    padding: 30px 0;
    &:not(:last-child) {
      border-bottom: 1px solid grey;
    }
    .box__title {
      color: #fafafc;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
  .top__container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(159deg,rgba(37,37,50,.98) 0%,rgba(35,35,45,.98) 100%);
    -webkit-box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
    box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
    .top__container--image__container {
      position: relative;
      margin-bottom: 15px;
      border-radius: 50%;
      width: 90px;
      height: 90px;
      .top__container--image {
        width: 100%;
        border-radius: 50%;
        background-size: 90px 90px;
        background-repeat: no-repeat;
      }
      .top__container--pulse {
        width: 15px;
        height: 15px;
        background-color: $orangeff;
        position: absolute;
        border-radius: 50%;
        bottom: 5px;
        right: 5px;
        // faire le pulse
      }
    }
    .top__container--name {
      color: #fafafc;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 600;
    }
    .top__container--text {
      color: #8c8c8e;
      font-size: 13px;
      line-height: 1.7;
      font-weight: 400;
      letter-spacing: .25px;
    }
  }
  .infos__container {
    padding: 0 30px;
    background-color: #20202a;
    .residence__container {
      .residence__row {
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        letter-spacing: .25px;
        line-height: 1.7;
        .residence__row--label {
          color: #fafafc;
        }
        .residence__row--value {
          color: #8c8c8e;
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
    .languages__container {
      .language__row  {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        .language__row--description {
          font-size: 13px;
          display: flex;
          color: #fafafc;
          justify-content: space-between;
        }
        .language__row--under {
          margin: 9px 0;
          width: 100%;
          height: 4px;
          background-color: #191923;
          border-radius: 2px;
          .language__row__average__up {
            background-color: #60A3D9;
            height: 4px;
            border-radius: 2px;
          }
        }
      }
    }
    .skills__container {
      .skill__row  {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        .skill__row--description {
          font-size: 13px;
          display: flex;
          color: #fafafc;
          justify-content: space-between;
        }
        .skill__average--under {
          margin: 9px 0;
          width: 100%;
          height: 4px;
          background-color: #191923;
          border-radius: 2px;
         .skill__average__up {
           background-color: $orangeff;
           height: 4px;
           border-radius: 2px;
         }
        }
      }
    }
    .knowledge__container {
      .knowledge__row {
        color: #8c8c8e;
        font-size: 13px;
        &:not(:last-child) {
          margin-bottom: 5px;
        }
        .icons {
          margin-right: 5px;
          color: $orangeff;
        }
      }
    }
    .cv__container {
      display: flex;
      justify-content: center;
      .cv__download {
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        align-items: center;
        color: #8c8c8e;
        cursor: pointer;
        .iconDownlaod {
          margin-left: 5px;
        }
        &:hover {
          color: #fafafc;
        }
      }
    }
  }
  .links__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: linear-gradient(159deg,rgba(37,37,50,.98) 0%,rgba(35,35,45,.98) 100%);
    -webkit-box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
    box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
    .icons {
      color: #8c8c8e;
      padding: 10px;
    }
  }
}
