<div id="devices">
  <div class="devicesTop">
    <div class="devicesTtile">Devices</div>
    <div class="addDevice" (click)="addDevice()"></div>
  </div>
  <div *ngIf="!isWiting" class="devicesContainer">
    <div class="devicesLabel" *ngIf="desktop">
      <ng-container *ngFor="let deviceLabel of devicesArr">
        <span class="deviceLabel {{deviceLabel.id}}">{{deviceLabel.text}}</span>
      </ng-container>
    </div>
    <ng-container *ngFor="let device of devices; index as index">
      <div class="deviceContainer">
        <div class="imageContainer">
          <div *ngIf="!desktop" class="line"></div>
          <div class="image {{device.id}}"></div>
        </div>
        <div class="name mobileRow">
          <span class="label" *ngIf="!desktop">Name :</span>
          <span>{{device.name}}</span>
        </div>
        <div class="location mobileRow">
          <span class="label" *ngIf="!desktop">Location :</span>
          <span>{{device.location}}</span>
        </div>
        <div class="statusMainContainer">
          <div class="statusContainer" (click)="changeStatus(index, device['status'], device['id'])">
            <div class="changeStatus {{device['status'] === 'on' ? 'right' : 'left'}}"></div>
          </div>
        </div>
        <div class="batteryContainer">
          <div class="batteryContent">
            <div class="battery {{device['battery']}}"></div>
          </div>
        </div>
        <div class="date mobileRow">
          <span class="label" *ngIf="!desktop">Date :</span>
          <span>{{device.date | date}}</span>
        </div>
        <div class="dots"></div>
      </div>
    </ng-container>
  </div>
  <app-spinner *ngIf="isWiting"></app-spinner>
</div>
