@import "../../../../styles/variables";
#products {
  display: flex;
  height: 900px;
  min-height: 100vh;
  min-width: 100vw;
  .productSpinner {
    margin: 50% auto;
  }
  .filters {
    width: 30%;
    flex-shrink: 0;
    margin-right: 30px;
    height: 900px;
    background-color: green;
  }
  .productsContainer {
    width: 100%;
    height: 900px;
    background-color: red;
    .product {
      border: 1px solid $greyE1;
      border-radius: 5px;
      padding: 20px;
      width: 240px;
      img {
        width: 200px;
      }
    }
  }
}
