<div id="fork-home">
  <section>
    <div class="content">
      <div class="section-left">
       <p>Découvrez et réservez le meilleur restaurant</p>
        <div class="search-container">
          <span>Quoi</span>
          <app-inp [inpAttr]="{id: ''}"></app-inp>
          <span>Où</span>
          <app-inp [inpAttr]="{id: ''}"></app-inp>
        </div>
      </div>
      <div class="section-right">
        <img src="../../../../assets/fork/home.webp" alt="">
      </div>
    </div>
  </section>
</div>
