/*colors*/

$background: #191923;
$orangeff: #ffc107;
$grey8c: #8c8c8e;
$grey81: #818BA5;
* {
  box-sizing: border-box;
}
.cta {
  padding: 10px 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $orangeff;
  transition: margin-top ease-out .3s;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    margin-top: -3px;
  }
}
