@import "../../../../../styles/variables";
#login {
  .error {
    color: $red;
    margin-bottom: 20px;
    font-size: 12px;
  }
  width: 100%;
  min-height: 100vh;
  background-color: $smartHouse;
  display: flex;
  @include media(desktop, both) {
    .loginLleft {
      width: calc(100% - 500px);
      background-image: url("../../../../../assets/login.png");
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;
      background-position: right;
      display: flex;
      position: relative;
      object-fit: contain;
      .logo {
        color: $white;
        font-size: 30px;
        position: absolute;
        top: 60px;
        left: 100px;
      }
      .loginText {
        font-size: 40px;
        color: $white;
        margin-left: 100px;
      }
    }
    .loginRight {
      width: 500px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .loginRightContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        .inputLabel {
          color: white;
          margin-bottom: 5px;
        }
        .inputHandler {
          margin-bottom: 20px;
        }
        .submit {
          background-color: #358ef7;
          width: 100%;
          border-radius: 3px;
          color: $white;
          padding: 10px 0;
          margin-top: 20px;
          cursor: pointer;
          &:disabled {
            opacity: 0.4;
            cursor: default;
          }
        }
        .forgot {
          color: #677d94;
          margin-top: 150px;
          .reset {
            color: $blue19;
            margin-left: 10px;
            cursor: pointer;
          }
        }
        .signupAccount {
          color: #677d94;
          margin-top: 10px;
          .signLink {
            color: $blue19;
            margin-left: 10px;
            cursor: pointer;
          }
        }
        .row1, .row2 {
          font-size: 30px;
          color: white;
          margin-bottom: 20px;
        }
        .formContainer {
          width: 100%;
        }
      }
    }
  }
  @include media(mobile, both) {
    .loginLleft {
      display: none;
    }
    .loginRight {
      width: 100%;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 40px;
      .loginRightContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .formContainer {
          width: 100%;
        }
        .inputLabel {
          color: white;
          margin-bottom: 5px;
        }

        .inputHandler {
          margin-bottom: 20px;
        }
        .submit {
          background-color: #358ef7;
          width: 100%;
          border-radius: 3px;
          color: $white;
          padding: 10px 0;
          margin-top: 20px;
        }
        .forgot {
          color: #677d94;
          margin-top: 50px;
          .reset {
            color: $blue19;
            margin-left: 10px;
            cursor: pointer;
          }
        }
        .signupAccount {
          color: #677d94;
          margin-top: 10px;
          .signLink {
            color: $blue19;
            margin-left: 10px;
          }
        }
        .row1, .row2 {
          font-size: 30px;
          color: white;
          margin-bottom: 20px;
        }
      }
    }
  }
}
