<div id="noren">
  <div class="top">
    <div class="absolute"></div>
    <div class="header">
      <div class="logo">
        <div class="purple"></div>
        <div class="orange"></div>
        <span class="name">Noren</span>
      </div>
      <div>
        <ul class="menu">
          <li class="item">Home</li>
          <li class="item">Service</li>
          <li class="item">Team</li>
          <li class="item">Blog</li>
          <li class="item">Contact</li>
        </ul>
      </div>
    </div>
    <div class="content">
      <div class="left">
        <h1 class="title">Get bussines solution with Noren</h1>
        <p class="subtitle">Power your business to new heights with our award-winning digital marketing services and technology platform.</p>
        <button class="cta">Get started</button>
      </div>
      <img src="../../../assets/noren/main.png" alt="Main">
    </div>
  </div>
</div>
