@import "../../../../styles/variables";
#contact {
  display: flex;
  justify-content: center;
  .contactContainer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 100px;
    .contactLeft {
      width: 45%;
      flex-shrink: 0;
      .q1 {
        font-weight: 600;
        font-size: 25px;
        color: $green22;
      }
      .q2 {
        font-size: 40px;
        font-weight: 600;
      }
      .q3 {
        margin: 20px 0;
        color: #8b98af;
      }
      .adresse {
        .label {
          font-weight: 600;
          color: #8b98af;
        }
        .value {
          color: #8b98af;
        }
      }
    }
    .contactRight {
      display: flex;
      flex-direction: column;
      width: 45%;
      flex-shrink: 0;
      .adresse {
        font-style: italic;
      }
      .submit {
        border-radius: 100px;
        background-color: $green22;
        color: white;
        font-weight: 600;
        padding: 10px 30px;
        text-align: center;
        margin-top: 30px;
      }
      textarea {
        background-color: #19273e !important;
        border: 1px solid #8b98af;
        color: #8b98af;
      }
    }
  }
}
