<div id="shHeader">
  <div class="shHeaderContainer">
    <div class="left">
      <div class="shLogoContainer">
        <span class="logoLines"></span>
        <div class="shlogo"><b>Smart</b><span>House</span></div>
      </div>
    </div>
    <div class="right">
      <div class="rightLeft">
        <div class="menuIcon"></div>
      </div>
      <div class="rightRight">
        <div class="serverIcon"></div>
        <div class="progressBar"></div>
        <div class="iconHelp"></div>
        <div class="iconmail"></div>
        <div class="iconCloche"></div>
        <div class="userNameContainer">
          <span>{{user.username}}</span>
          <div class="icons negative"></div>
        </div>
      </div>
    </div>
  </div>
</div>
