@import "../../../styles/variables";
#header {
  height: 70px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $greyE1;
  .headerContainer {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu {
      display: flex;
      li {
        margin-left: 20px;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
