@import "../../../../styles/variables";
$green64: #64ffda;
#textArea {
  width: 100%;
  position: relative;
  .areaLabel {
    position: absolute;
    z-index: 0;
    top: 25px;
    left: 10px;
    transition: top 200ms ease-in, font-size 200ms ease-in;
    font-size: 18px;
    color: $grey57;
    line-height: 1;

    &.labelTop {
      top: 10px;
      z-index: 1;
      font-size: 14px;
    }
  }
  textarea {
    background-color: transparent;
    width: 100%;
    border: 1px solid $green64;
    resize: none;
    padding: 10px;
    height: 120px;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    &::placeholder {
      color: rgba(100,255,218,0.4);
    }
    &.active {
      border: 1px solid white;
    }
    &:focus {
      //border-color: transparent;
      //color: white;
    }
  }
}
