<div id="portfolio">
  <div class="header">
    <div class="header__left"></div>
    <div class="header__right">
      <div class="menu">
        <a [href]="'#'+link" class="link" *ngFor="let link of links; index as i"><span class="green">{{'0.' + i}}</span>{{link}}</a>
      </div>
    </div>
  </div>
  <section class="home">
    <p class="small-green">Bonjou mon nom est,</p>
    <p class="big">Maxim Lucov</p>
    <p class="big grey">Le web est ma passion</p>
    <p>
      I'm a software engineer specializing in building (and occasionally
      designing) exceptional digital experiences. Currently, I'm focused on
      building accessible, human-centered products at Upstatement.
    </p>
    <a href="#about" class="accuei-button">Découvir ∆</a>
  </section>
  <section id="about" class="box">
    <div class="boxTop">
      <p>
        <span class="box-number">01.</span>
        <span class="box-title">À propos de moi</span>
        <span class="box-line"></span>
      </p>
    </div>
    <div class="box-container">
      <div class="about-left">
        <p>
          Hello! My name is Brittany and I enjoy creating things that live on
          the internet. My interest in web development started back in 2012
          when I decided to try editing custom Tumblr themes - turns out
          hacking together a custom reblog button taught me a lot about
          HTML & CSS!
        </p><br><br>
        <p>
          Fast-forward to today, and I've had the privilege of working at
          an advertising agency, a start-up, a huge corporation, and
          a student-led design studio. My main focus these days is building
          accessible, inclusive products and digital experiences at
          Upstatement for a variety of clients.
        </p><br><br>
        <p>
          I also recently launched a course that covers everything you need
          to build a web app with the Spotify API using Node & React.
        </p><br><br>
        <p>Here are a few technologies I've been working with recently:</p><br>
        <ul class="skills"><li class="skill" *ngFor="let skill of skills">=> {{skill}}</li></ul>
      </div>
      <div class="about-right">
        <div class="img-container">
          <img class="mine" src="../../../assets/portfolio" alt="Silence is golden">
        </div>
      </div>
    </div>
  </section>
  <section id="experience" class="box">
    <div class="boxTop">
      <p>
        <span class="box-number">02.</span>
        <span class="box-title">J'ai travaillé</span>
        <span class="box-line"></span>
      </p>
    </div>
    <div class="box-container">
      <p>Responsable front-end che Elaque</p>
      <p>Avril 2018 - Présent</p>
      <p>Nettoyer les vitres</p>
      <p>Nettoyer la cuisine</p>
      <p>Nettoyer la mairie</p>
    </div>
  </section>
  <section id="codewars" class="box">
    <div class="boxTop">
      <p>
        <span class="box-number">01.</span>
        <span class="box-title">À propos de moi</span>
        <span class="box-line"></span>
      </p>
    </div>
  </section>
  <section id="work" class="box">
    <div class="boxTop">
      <p>
        <span class="box-number">01.</span>
        <span class="box-title">À propos de moi</span>
        <span class="box-line"></span>
      </p>
    </div>
  </section>
  <section id="contact" class="box">
    <div class="boxTop">
      <p>
        <span class="box-number">01.</span>
        <span class="box-title">À propos de moi</span>
        <span class="box-line"></span>
      </p>
    </div>
  </section>
</div>
