@import "../../../styles/variables";

#social {
  width: 100%;
  display: flex;
  justify-content: center;
  &.lightMode {
    transition: 1s ease-in;
    background-color: $white;
    .dark {
      color: $grey57;
    }
    .socialTitle {
      color: $grey57;
    }
    .singleContainer {
      transition: 1s ease-in;
      background-color: $white;
      box-shadow: 0 7px 14px 0 rgba(198,203,208,.5);
      .followersCount {
        color: $grey57;
      }
    }
    .overviewsTitle {
      color: $grey57;
    }
    .overviewContainer {
      transition: 1s ease-in;
      background-color: $white;
      box-shadow: 0 7px 14px 0 rgba(198,203,208,.5);
      .times {
        color: $grey57;
      }
    }
  }
  &.darkMode {
    transition: 1s ease-in;
    background-color: #20222f;
    .dark {
      color: $white;
    }
    .socialTitle {
      color: $white;
    }
    .singleContainer {
      transition: 1s ease-in;
      background-color: #252b43;
      &:hover {
        background-color: #333a56;
      }
      .followersCount {
        color: $white;
      }
    }
    .overviewsTitle {
      color: $white;
    }
    .overviewContainer {
      background-color: #252b43;
      .times {
        color: $white;
      }
    }
  }
  @include media(desktop, both) {
    padding: 80px 0;
    .socialContainer {
      width: 80%;
      .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .headLeft {
          .socialTitle {
            font-size: 24px;
            font-weight: 600;
          }
          .description {
            color: #8e93b3;
            font-weight: 600;
          }
        }
        .headRight {
          display: flex;
          align-items: center;
          .dark {
            font-weight: 600;
            margin-right: 10px;
          }
        }
      }
      .content {
        margin-top: 50px;
        .followersContainer {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .singleContainer {
            width: calc(25% - 15px);
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 4px;
            padding: 30px;
            position: relative;
            .border {
              width: 100%;
              height: 4px;
              border-radius: 4px 4px 0 0;
              position: absolute;
              top: 0;
              &.facebook {
                background-color: #1c8df5;
              }
              &.twitter {
                background-color: #1ba3f7;
              }
              &.instagram {
                background: linear-gradient(90deg, #fcc575 0%, #ed7f7e 50%, #e24e98 100%);;
              }
              &.youtube {
                background-color: #c4062c;
              }
            }
            .username {
              display: flex;
              align-items: center;
              color: #646c91;
              font-weight: 600;
              margin-bottom: 20px;
              .icon {
                background-image: url("../../../assets/spSocialMedia.png");
                background-size: 68px 68px;
                width: 24px;
                height: 24px;
                margin-right: 10px;
                &.facebook {
                  background-position: -5px -5px;
                }
                &.twitter {
                  background-position: -39px -5px;
                }
                &.instagram {
                  background-position: -5px -39px;
                }
                &.youtube {
                  background-position: -39px -39px;
                }
              }
            }
            .singleText {
              letter-spacing: 3px;
              color: #646c91;
              text-transform: uppercase;
              margin-top: 5px;
            }
            .today {
              display: flex;
              font-weight: 600;
              line-height: 1;
              align-items: center;
              margin-top: 20px;
              &.negative {
                color: #bf3d55;
              }
              &.positive {
                color: #3ca994;
              }
              .icons {
                font-size: 24px;
                margin-right: 5px;
                &.negative {}
                &.positive {}
              }
            }
            .followersCount {
              font-weight: 600;
              font-size: 50px;
              letter-spacing: 2px;
              line-height: 1;
            }
          }
        }
        .overviewsTitle {
          font-size: 24px;
          font-weight: 600;
          margin-top: 30px;
        }
        .overviewsContainer {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-top: 30px;
          .overviewContainer {
            width: calc(25% - 15px);
            display: flex;
            flex-direction: column;
            border-radius: 4px;
            padding: 30px;
            position: relative;
            flex-shrink: 0;
            margin-bottom: 20px;
            .top {
              display: flex;
              justify-content: space-between;
              .title {
                color: #8e93b3;
                font-weight: 600;
              }
              .icon {
                background-image: url("../../../assets/spSocialMedia.png");
                background-size: 68px 68px;
                width: 24px;
                height: 24px;
                &.facebook {
                  background-position: -5px -5px;
                }
                &.twitter {
                  background-position: -39px -5px;
                }
                &.instagram {
                  background-position: -5px -39px;
                }
                &.youtube {
                  background-position: -39px -39px;
                }
              }
            }
            .bottom {
              margin-top: 30px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .times {
                font-weight: 600;
                line-height: 1;
                font-size: 36px;
              }
              .percentage {
                display: flex;
                font-weight: 600;
                line-height: 1;
                align-items: center;
                margin-top: 20px;
                &.negative {
                  color: #bf3d55;
                }
                &.positive {
                  color: #3ca994;
                }
                .icons {
                  font-size: 24px;
                  margin-right: 5px;
                  &.negative {}
                  &.positive {}
                }
              }
            }
          }
        }
      }
    }
  }
  @include media(mobile, both) {
    padding: 30px 0;
    .socialContainer {
      width: 100%;
      .head {
        .headLeft {
          border-bottom: 1px solid #37394e;
          padding: 0 30px 20px;
          .socialTitle {
            font-size: 24px;
          }
          .description {
            color: #8e93b3;
            font-weight: 600;
          }
        }
        .headRight {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 15px;
          padding: 0 30px;
          .dark {
            font-weight: 600;
            margin-right: 10px;
          }
        }
      }
      .content {
        margin-top: 50px;
        .followersContainer {
          padding: 0 30px;
          width: 100%;
          .singleContainer {
            width: 100%;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 4px;
            padding: 30px;
            position: relative;
            margin-bottom: 20px;
            .border {
              width: 100%;
              height: 4px;
              border-radius: 4px 4px 0 0;
              position: absolute;
              top: 0;
              &.facebook {
                background-color: #1c8df5;
              }
              &.twitter {
                background-color: #1ba3f7;
              }
              &.instagram {
                background: linear-gradient(90deg, #fcc575 0%, #ed7f7e 50%, #e24e98 100%);;
              }
              &.youtube {
                background-color: #c4062c;
              }
            }
            .username {
              display: flex;
              align-items: center;
              color: #646c91;
              font-weight: 600;
              margin-bottom: 20px;
              .icon {
                background-image: url("../../../assets/spSocialMedia.png");
                background-size: 68px 68px;
                width: 24px;
                height: 24px;
                margin-right: 10px;
                &.facebook {
                  background-position: -5px -5px;
                }
                &.twitter {
                  background-position: -39px -5px;
                }
                &.instagram {
                  background-position: -5px -39px;
                }
                &.youtube {
                  background-position: -39px -39px;
                }
              }
            }
            .singleText {
              letter-spacing: 3px;
              color: #646c91;
              text-transform: uppercase;
              margin-top: 5px;
            }
            .today {
              display: flex;
              font-weight: 600;
              line-height: 1;
              align-items: center;
              margin-top: 20px;
              &.negative {
                color: #bf3d55;
              }
              &.positive {
                color: #3ca994;
              }
              .icons {
                font-size: 24px;
                margin-right: 5px;
                &.negative {}
                &.positive {}
              }
            }
            .followersCount {
              font-weight: 600;
              font-size: 50px;
              letter-spacing: 2px;
              line-height: 1;
            }
          }
        }
        .overviewsTitle {
          padding: 0 30px;
          font-size: 24px;
          font-weight: 600;
          margin-top: 30px;
        }
        .overviewsContainer {
          margin-top: 30px;
          padding: 0 30px;
          .overviewContainer {
            width: 100%;
            padding: 30px;
            display: flex;
            flex-direction: column;
            border-radius: 4px;
            position: relative;
            flex-shrink: 0;
            margin-bottom: 20px;
            .top {
              display: flex;
              justify-content: space-between;
              .title {
                color: #8e93b3;
                font-weight: 600;
              }
              .icon {
                background-image: url("../../../assets/spSocialMedia.png");
                background-size: 68px 68px;
                width: 24px;
                height: 24px;
                &.facebook {
                  background-position: -5px -5px;
                }
                &.twitter {
                  background-position: -39px -5px;
                }
                &.instagram {
                  background-position: -5px -39px;
                }
                &.youtube {
                  background-position: -39px -39px;
                }
              }
            }
            .bottom {
              margin-top: 30px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .times {
                font-weight: 600;
                line-height: 1;
                font-size: 36px;
              }
              .percentage {
                display: flex;
                font-weight: 600;
                line-height: 1;
                align-items: center;
                margin-top: 20px;
                &.negative {
                  color: #bf3d55;
                }
                &.positive {
                  color: #3ca994;
                }
                .icons {
                  font-size: 24px;
                  margin-right: 5px;
                  &.negative {}
                  &.positive {}
                }
              }
            }
          }
        }
      }
    }
  }
  #curseur {
    width: 50px;
    height: 24px;
    background: linear-gradient(90deg, #339ad7 0%, #44d594 100%);
    border-radius: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 2px;
    position: relative;
    //&.left {
    //  justify-content: flex-start;
    //}
    //&.right {
    //  transition: width ease-out 500ms;
    //  justify-content: flex-end;
    //}

    .mooveCircle {
      width: 20px;
      height: 20px;
      background-color: #222d3f;
      border-radius: 50%;
      &.left {
        transition: all 300ms ease-in;
      }
      &.right {
        transform: translateX(26px);
        transition: all 300ms ease-out;
      }
    }
  }
}
